.containerArrow{
    position: fixed;
    right: 4%;
    top:70%;
    height: 15%;
    width: 3%;
    z-index: 3;
}
.containerArrow_item img{
    width: var(--OneHundred);
    height: var(--OneHundred);
    cursor: pointer;
}
.containerArrow_item{
    transition: 0.5s;
}
.containerArrow_item:hover{
    background-color: rgb(182, 182, 182);
   
    border-radius: 10px;
}
@media (max-width:700px){
    .containerArrow{
        width: 7%;
    }
}
@media (max-width:440px) {
    .containerArrow {
        width: 7%;
        height: 10%;
    }

}
