.FourSection__Main{
    margin-top: 100px;
}
.FourSection__Header{
    margin-top: 70px;
    gap: 10px;
    font-size: 40px;
    font-family: "Gowun Batang", serif;
    font-weight: 1000;
}

.FourSection__Header-paragraph{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.FourSection__Main{
    width: 100%;
}
.FourSection__Main-block{
    width: 70%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
}
.FourSection__Main-block-box{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.822);

    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.FourSection__Main-block-box:hover .FourSection__Main-block-box-image{
    height: 89%;
}
.FourSection__Main-block-box:hover .FourSection__Main-block-box-image .FourSection__Main-block-box-image-color-container{
    opacity: 1;
}
.FourSection__Main-block-box:hover .FourSection__Main-block-box-text{
    height: 10%;
}

.FourSection__Main-block-box-image{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.FourSection__Main-block-box:before{
    content: "";
    position: absolute;
    top:35%;
    background-image:url(../img/plus.svg);
    width: 30%;
    height: 35%;
    background-size: cover;
    left:35%;
    transition: 0.5s;
    transform: scale(0);
}
.FourSection__Main-block-box:hover::before{
    transform: scale(1);
    
}
.FourSection__Main-block-box-image-color-container{
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: 0.3s;
}
.FourSection__Main-block-box-image-photo{
    height: calc(100% - 3px);
    width: 100%;
}
.color{
    width: 25%;
   
}
.color1{
    background-color: var(--redcolor)
}
.color2{
    background-color: var(--greencolor)

}
.color3{
    background-color: var(--purplecolor)

}
.color4{
    background-color: var(--orangecolor)

}
.FourSection__Main-block-box-text{
    height: 0%;
    font-family: "Gowun Batang", serif;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
}

@media (max-width:1650px){
    .FourSection__Main-block-box-text{
        font-size: 13px;
    }
}
@media (max-width:1370px){
    .FourSection__Main-block-box-text{
        font-size: 11px;
    }
}
@media (max-width:1000px){
    .FourSection__Main-block{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
        width: 75%;
        gap:30px
    }

}
@media (max-width:760px){
    .FourSection__Main-block-box-text{
        font-size: 10px;
    }
}
@media (max-width:660px){
    .FourSection__Header-paragraph {
        font-size: 15px;
    }
    .FourSection__Header {
        font-size: 30px;
    }
    .FourSection__Main{
        margin-top: 50px;
    }

}
@media (max-width:600px){
    .FourSection__Main-block{
        grid-template-columns: 100%; 
        gap:30px
    }
    .FourSection__Main-block-box-text{
        font-size: 15px;
    }
}
@media (max-width:490px){
    .FourSection__Header-paragraph {
        font-size: 12px;
        text-align: center;
    }
    .FourSection__Main-block-box-text {
        font-size: 13px;
    }
}
@media (max-width:370px) {
    .FourSection__Main-block-box-text {
        font-size: 12px;
    }
}