.LoadScreen{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color:rgb(28, 39, 58);
    z-index: 4;
    opacity: 1;
    animation: opacity 0.1s 3s forwards;
}

.LoadScreen_item_load {
    height: 20%;
}
.LoadScreen_item_load img{
    width: 100%;
    height: 100%;
}
.LoadScreen_item_loadBar{
    width: 20%;
    height: 2%;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}
.LoadScreen_item_loadBar:before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background-color: rgb(250, 56, 56);
    border-radius: 20px;
    animation: bar 3s  forwards;
}
@keyframes opacity{
    100%{
        opacity: 0;
        display: none;
    }
}
 @keyframes bar{
    30%{
        width: 30%;
    }
    70%{
        width: 70%;
    }
    100%{
        width: 100%;
    }
 }
@media (max-width:900px){
    .LoadScreen_item_loadBar {
        width: 50%;
    }
}
