
.SecondSection__top{
    margin-top: 75px;
}
.SecondSection__bottom{
   margin-top: 100px;
}
.SecondSection__block{
    gap: var(--twenty);
}
.SecondSection__block-title{
    font-size: 60px;
    opacity: 0.8;
    font-family: "Playfair Display", serif;
}
.SecondSection__block-paragraph{
    font-size:var(--tenty);
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
}

.SecondSection__bottom-block{
    width: 65%;
    gap: 30px;
    cursor: pointer;
}
.SecondSection__block-box{
    width: calc(25% - 9px);
    transition: 0.5s;
    box-shadow: 0px 0px 5px rgb(99, 98, 98);
}
.SecondSection__block-box:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateY(-10px);
    cursor: url("../img/cursor1.png"), default;

}
.SecondSection__block-box-image{
    height: var(--OneHundred);
}
.SecondSection__block-box-image-image{
    width: 20%;
    margin-top: 15px;
}
.SecondSection__block-box-text{
    height: 75%;
    text-align: var(--center);
    font-family: "Montserrat", sans-serif;
    font-weight: 490;
}


.SecondSection__block-box-text-title{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 420;
}
.SecondSection__block-box-text-paragraph{
    opacity: 0.7;
    line-height: 1.6;
}

.SecondSection__block-box-line{
    height: 4px;
    margin-top: 14px;
}
.first-color{
    background-color: var(--redcolor);
}
.second-color{
    background-color:var(--greencolor)
}
.third-color{
    background-color: var(--purplecolor);
}
.four-color{
    background-color: var(--orangecolor)
}
.h{
    height: 87%;
    
}
.Second_Section__footer{
    height: 6px;
    background-color: rgb(245, 200, 78);
    margin-top: 200px;
}
@media (max-width:1550px) {
    .SecondSection__block-box-text-title{
        font-size: var(--twenty);
    }
    .SecondSection__bottom-block {
        width: 70%;
    }
}
@media (max-width:1360px) {
    .SecondSection__block-title{
        font-size: var(--halfPix);
    }
    .SecondSection__block-paragraph{
        font-size: 17px;
    }
    .SecondSection__bottom-block {
        width: 85%;
    }
    .SecondSection__block-box-text-title{
        font-size: 18px;
    }
}
@media (max-width:1150px){
    .SecondSection__bottom-block{
        flex-wrap: wrap;
    }
    .SecondSection__block-box {
        width: 40%;
    }
    .SecondSection__bottom-block{
        justify-content: var(--center);
    }

    .SecondSection__bottom-block {
        height: var(--OneHundred);
    }

    
}
@media(max-width:640px){
    .SecondSection__block-box-text-paragraph{
        font-size: 13px;
    }
    .SecondSection__block-box-text-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .SecondSection__block-paragraph{
        font-size: 15px;
    }
    .SecondSection__block-box-text-title{
        font-size: 16px;
    }
    .SecondSection__block-box-image-image{
        height: var(--OneHundred);
    }
}
@media (max-width:520px){

    .SecondSection__bottom-block {
        width: var(--OneHundred);
    }

    .SecondSection__block-box {  
        width:var(--halfPros);
    }

    .SecondSection__block-paragraph {
        font-size: 13px;
        font-weight: 700;
    }

}
@media (max-width:400px){
    .SecondSection__block-paragraph {
        text-align: var(--center);
        
    }
  
}



