.SecondSection{
    height: var(--OneHundred);
}
.SecondSection__top{
    height: 40%;
}
.SecondSection__bottom{
    height: 55%;
}
.SecondSection__block{
    gap: 20px;
}
.SecondSection__block-title{
    font-size: 60px;
    opacity: 0.8;
    font-family: "Playfair Display", serif;
}
.SecondSection__block-paragraph{
    font-size:var(--twenty);
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
}

.SecondSection__bottom-block{
    width: 65%;
    gap: 30px;
    height: 80%;
    cursor: pointer;
}
.SecondSection__block-box{
    width: calc(25% - 9px);
    height: 80%;
    transition: 0.5s;
}
.SecondSection__block-box:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateY(-10px);
}
.SecondSection__block-box-image{
    height: 20%;
}
.SecondSection__block-box-text{
    height: 75%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 490;
}


.SecondSection__block-box-text-title{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 420;
}
.SecondSection__block-box-text-paragraph{
    opacity: 0.7;
    line-height: 1.6;
}

.SecondSection__block-box-line{
    height: 3px;
}
.first-color{
    background-color: rgb(233, 101, 101);
}
.second-color{
    background-color: lightgreen;
}
.third-color{
    background-color: rgb(218, 10, 218);
}
.four-color{
    background-color: rgb(245, 200, 78);
}
.h{
    height: 87%;
    
}
.Second_Section__footer{
    height: 6px;
    background-color: rgb(245, 200, 78);

}
@media (max-width:1550px) {
    .SecondSection__block-box-text-title{
        font-size: 20px;
    }
    .SecondSection__bottom-block {
        width: 70%;
    }
}
@media (max-width:1360px) {
    .SecondSection__block-title{
        font-size: 50px;
    }
    .SecondSection__block-paragraph{
        font-size: 17px;
    }
    .SecondSection__bottom-block {
        width: 85%;
    }
    .SecondSection__block-box-text-title{
        font-size: 18px;
    }
}
@media (max-width:1150px){
    .SecondSection__top{
        height: 30%;
    }
    .SecondSection__bottom-block{
        flex-wrap: wrap;
    }
    .SecondSection__block-box {
        width: 40%;
    }
    .SecondSection__bottom-block{
        justify-content: center;
    }
    .SecondSection__bottom {
        height: 68%;
    }
    .SecondSection__bottom-block {
        height: var(--OneHundred);
    }
    .SecondSection__block-box {
        height: 45%;
    }
    
}
@media(max-width:640px){
    .SecondSection__block-box-text-paragraph{
        font-size: 13px;
    }
    .SecondSection__block-box-text-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .SecondSection__block-paragraph{
        font-size: 15px;
    }
    .SecondSection__block-box-text-title{
        font-size: 16px;
    }
    .SecondSection__block-box-image-image{
        height: var(--OneHundred);
    }
}
@media (max-width:520px){
    .SecondSection__top {
        height: 20%;
    }
    .SecondSection__bottom-block {
        width: 100%;
    }
    .SecondSection{
        height: 150%;
    }
    .SecondSection__block-box {
        height: 45%;
        width:50%
    }
    .SecondSection__block-box {
        height: 20%;
    }
    .SecondSection__block-paragraph {
        font-size: 13px;
        font-weight: 700;
    }
    .SecondSection__bottom {
        height: 79%;
    }
}
@media (max-width:400px){
    .SecondSection__block-paragraph {
        text-align: center;
        
    }
  
}
@media (max-width:400px) and (max-height:750px){
    .SecondSection__top {
        height: 15%;
    }
    .SecondSection{
        height: 190%;
    }
    .SecondSection__bottom {
        height: 84%;
    }
}
@media (max-width:1100px) and (max-height:800px){
    .SecondSection{
        height: 180%;
    }
    .SecondSection__bottom-block {
        height: 75%;
    }
    .SecondSection__bottom-block {
        height: 100%;
    }
}
@media (max-width:950px) and (max-height:450px){
    .SecondSection{
        height: 230%;
    }
}


@media (max-width:800px) and (max-height:400px){
    .SecondSection{
        height: 310%;
    }
}


