.ThirdSection{
    height:110%;
}
.ThirdSection__Header{
    gap:20px;
    height: 30%;
}
.ThirdSection__Main{
    height: 28%;
    margin-top: 50px;
}
.ThirdSection__Footer{
    height: 30%;
}
.ThirdSection__Header-title{
    font-family: "Dancing Script", cursive;
    font-size: 26px;
}
.ThirdSection__Header-story{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}
.line{
    width: 60px;
    height: 3px;
    background-color:rgb(233, 101, 101);
    margin-bottom: 2%;    
}
.ThirdSection__Header-paragraph{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 15px;
}
.ThirdSection__Main__block{
    width: 70%;
    gap:30px
}
.ThirSection__Main__block-box{
    width:calc(33.3333% - 20px);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    

}
.ThirSection__Main__block-box-image{
    width: 100%;
    height: 100%;

}
.ThirSection__Main__block-box:hover{
    transform: translateX(-10px) translateY(-10px);
    box-shadow: 10px 10px 0px aqua;
}
.ThirSection__Main__block-box:hover .IconTextHoverBlock{
   opacity: 1;
}

.IconTextHoverBlock{
    opacity: 0;
    position: absolute;
    left:0;
    top:0;
    background-image: linear-gradient(#e4837cea,#eac781ec) ;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.icon{
    height: 50%;
}
.text{
    height: 50%;
    margin-top: 20px;
    color:white
}