
.ThirdSection{
    margin-top: 50px;
}
.ThirdSection__Header{
    gap:var(--twenty);

}
.ThirdSection__Main{
    margin-top: var(--halfPix);
}
.ThirdSection__Footer{
    height: 400px;
    margin-top: 100px;
}
video{
    display: none;
}
.ThirdSection__Header-title{
    font-family: "Dancing Script", cursive;
    font-size: 26px;
}
.ThirdSection__Header-story{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}
.line{
    width: 60px;
    height: 3px;
    background-color:var(--redcolor);
    margin-bottom: 2%;    
}
.ThirdSection__Header-paragraph{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 15px;
}
.ThirdSection__Main__block{
    width: 70%;
    gap:30px
}
.ThirSection__Main__block-box{
    width:calc(33.3333% - 20px);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.ThirSection__Main__block-box-image{
    width: var(--OneHundred);
    height: var(--OneHundred);

}
.ThirSection__Main__block-box:hover{
    transform: translateX(-10px) translateY(-10px);
    box-shadow: 10px 10px 0px aqua;
    cursor: url("../img/cursor1.png"), default;

}
.ThirSection__Main__block-box:hover .IconTextHoverBlock{
   opacity: 1;
}

.IconTextHoverBlock{
    opacity: 0;
    position: absolute;
    left:0;
    top:0;
    background-image: linear-gradient(#e4837cea,#eac781ec) ;
    width: var(--OneHundred);
    height: var(--OneHundred);
    transition: 0.5s;
}
.icon{
    height: var(--halfPros);
}
.text{
    height: var(--halfPros);
    margin-top: var(----twenty);
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.ThirdSection__Footer__block{
    height: 92%;
    width: var(--OneHundred);
}
.ThirdSection__Footer__block-box{
    width: var(--OneHundred);
    height: var(--OneHundred);
    background-image: url(../img/background-second.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}
.ThirdSection__Footer__block-box-title{
    z-index: 3;
    font-family: "Poppins", sans-serif;
    color:white;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.ThirdSection__Footer__block-box-circle:before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: var(--OneHundred);
    height: var(--OneHundred);
    z-index: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}
.ThirdSection__Footer__block-box-circle{
    width: var(--OneHundred);
    height: 32%;
}
.ThirdSection__Footer__block-box-circle svg{
    width: 10%;
    height: var(--OneHundred);
    z-index: 3;
    cursor: pointer;
}
.svgImage{
  transition: 0.5s;
}
.svgImage:hover{
transform: scale(1.1) rotateZ(360deg);
cursor: url("../img/cursor1.png"), default;

}
.ThirdSection__Footer__block-box-paragraph{
    font-family: "Poppins", sans-serif;
    color:white;
    z-index: 3;
}

@media (max-width:1500px){
    .ThirdSection__Main__block{
        width: 75%;
    }
}
@media (max-width:1320px) {
    .ThirdSection__Header {
        gap:10px
    }
    .ThirdSection__Header-story{
        font-size: 24px;
    }
    .ThirdSection__Header-title {
        font-size: var(----twenty);
    }
    .ThirdSection__Header-paragraph {
        font-size: 13px
    }
    .ThirdSection__Main{
        margin-top: 25px;
    }
}
@media (max-width:1250px){
    .ThirdSection__Main__block{
        width: 85%;
    }
}
@media (max-width:1150px){
    .ThirdSection__Header-paragraph {
        font-size: 12px
    }
    .ThirdSection__Header-story{
        font-size: 23px;
    }
    .line {
        width: var(--halfPix);
        margin-bottom: 1%;
    }
    .ThirdSection__Header-title {
        font-size: 19px
    }
    .ThirSection__Main__block-box {
        width: 40%;
    }
    .ThirdSection__Main__block{
        flex-direction: column;
        align-items: center;
    }
    .ThirdSection__Footer {
        height: 300px;
        
    } 
}
@media (max-width:1060px){
    .ThirdSection__Header-paragraph {
        font-size: 11px;
    }
}
@media (max-width:960px){
    .ThirdSection__Main {
        height: var(--halfPros);
    }
    .ThirSection__Main__block-box {
        width: 45%;
    }
}
@media (max-width:800px){
    .ThirdSection__Footer__block-box-title {
        font-size: var(----twenty);
    }
    .ThirdSection__Footer__block-box-paragraph {
        font-size: 14px;
    }
}
@media (max-width:660px){

    .ThirSection__Main__block-box{
        width: var(--halfPros);
    }
    .icon img{
        height: 80%;
    }
    .text {
        margin-top: 5px;
    }
}
@media (max-width:550px){
    .ThirdSection__Footer__block-box-title {
        font-size: 18px;
    }
    .ThirdSection__Footer__block-box-paragraph {
        font-size: 14px;
    }
    .ThirdSection__Footer {
        height: 300px;
        margin-top: 70px;
    }
    .ThirdSection__Footer__block-box-circle svg {
        width: 15%;
    }
    .ThirSection__Main__block-box{
        width: 63%;
    }
}
@media (max-width:470px){
    .ThirSection__Main__block-box {
        width: 73%;
    }
    .ThirdSection__Header-story{
        font-size: 17px;
    }
    .ThirdSection__Header-title{
        font-size: 17px;
    }
}
@media (max-width:400px) {
    .ThirSection__Main__block-box {
        width: 85%;
    }
}




